---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Web Appify -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<!-- Manifest JSON -->
		<link rel="manifest" href="manifest.json">

		<!-- Our Script -->
		<script src = '../script.js'></script>

		<title>GIPHY</title>

	</head>
	<body>

		<!-- Container  -->
		<div class="container carousel rounded-box">
			
		  </div>

		
	</body>
</html>
